<toolbar></toolbar>

<!-- <p>{{'Display name: ' + user.displayName}}</p> -->
<!--
<button mat-icon-button (click)="editUsername = !editUsername">
  <i class="fa-solid fa-pen-to-square"></i>
</button>
<div *ngIf="editUsername == true">
  <mat-form-field>
    <input matInput required type="string" placeholder="New username" [(ngModel)]="newUsername"/>
  </mat-form-field>
  <button mat-raised-button (click)="changeUsername()">Change username</button>
</div>-->
<p>{{'Email: ' + user.email}}</p>
<p>{{'Email verified: ' + user.emailVerified}}</p>
<p>{{'User id: ' + user.uid}}</p>
