<toolbar></toolbar>

<centre height="10vh" backgroundColour="white">
  <mat-form-field>
    <input matInput required type="string" placeholder="Email address" [(ngModel)]="email" />
  </mat-form-field>
</centre> <br/>

<centre width="100vw" height="10vh" contentWidth="29vh" backgroundColour="white">
  <mat-form-field>
    <input matInput required type="string" placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" />
  </mat-form-field>
  <button mat-button (click)="hide = !hide">
    <i class="fa-regular fa-eye-slash"></i>
  </button>
</centre> <br/>

<centre height="6vh">
  <button mat-raised-button color="primary" (click)="signIn()">Sign in</button> <br>
</centre>
<centre height="6vh">
  <button mat-raised-button color="primary" (click)="forgotPassword()">Forgot password?</button>
</centre>
<centre height="7vh" backgroundColour="white">
  <p> Dont have an account? Sign up below:
</centre>
<centre height="6vh">
  <button mat-raised-button color="primary" (click)="signUp()">Register account</button>
</centre>
