<!-- For more than two variables
<input type="input" [(ngModel)]="variable"/>
<button type="button" (click)="addVariable()">Add variable</button>
<button type="button" (click)="clearVariables()">Delete variables</button> <br> -->
<div class="row">
  <div class="column">
    <tr *ngFor="let var of variables; let i = index;">
      <td>
        <mat-form-field>
          <input mat-input placeholder="{{variables[i]}} values" [name]="'set_' + i" type="text" [(ngModel)]="datasetTexts[i]"/> <br>
        </mat-form-field>
      </td>
    </tr> <br>
    <div *ngIf="validateString != ''">
      <p> {{validateString}} </p>
    </div>
    <button type="button" (click)="generateFunction()">Generate function</button>
    <functionInteractor></functionInteractor>
  </div>
  <div class="column">
    <fileUpload></fileUpload>
  </div>

</div>