/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

p  {font-family: Arial;}
h1 {font-family: Arial;}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.file-input {
  display: none;
}