/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --centreWidth: 100vw;
  --centreHeight: 100vh;
  --width: auto;
  --height: auto;
  --margin: "0px 0px 0px 0px";
  --backgroundColour: lightgrey;
}

.centreparent {
  position: relative;
  background: white;
  width: var(--centreWidth);
  height: var(--centreHeight);
}

.centrechild {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-bottom: 4pt;
  padding-top: 4pt;
  width: var(--width);
  height: var(--height);
  margin: var(--margin);
  background: var(--backgroundColour);
}

.dashcolumn {
  position: relative;
  top: 0%;
  left: 0%;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-bottom: 300pt;
  padding-top: 4pt;
}
